    th:hover {
        cursor: pointer;
    }
    
    html {
        font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-size: 14px;
    }
    
    .table {
        border: none;
    }
    
    button {
        position: relative;
        margin: 2% 2% 2% 0;
        width: 100%;
        height: 100%;
    }
    
    .btn.btn-danger.btnShowNext {
        position: relative;
        padding: 0;
        margin: 0%;
        width: 20%;
        height: 35px;
    }
    
    .btn.btn-danger.btnShowNext:nth-child(2) {
        float: right;
    }
    
    td,
    th {
        text-align: center;
    }
    
    .table-definition thead th:first-child {
        pointer-events: none;
        background: white;
        border: none;
    }
    
    .table td {
        vertical-align: middle;
    }
    /* .table td:nth-last-child(1) {
    position: relative;
    padding: 10px;
} */
    
    .card-header {
        background-color: #f44336;
        color: #ffffff;
    }
    
    .page-item>* {
        border: none;
    }
    
    .custom-checkbox {
        min-height: 1rem;
        padding-left: 0;
        margin-right: 0;
        cursor: pointer;
    }
    
    .flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .numerick {
        margin: -4px 0px 0px 10px;
        width: 70px;
        height: 30px;
    }
    
    .checkbox {
        margin: -2px 0 0 15px;
    }
    
    .custom-checkbox .custom-control-indicator {
        content: "";
        display: inline-block;
        position: relative;
        width: 30px;
        height: 10px;
        background-color: #818181;
        border-radius: 15px;
        -webkit-transition: background .3s ease;
        transition: background .3s ease;
        vertical-align: middle;
        margin: 0 16px;
        box-shadow: none;
    }
    
    .custom-checkbox .custom-control-indicator:after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 18px;
        height: 18px;
        background-color: #f1f1f1;
        border-radius: 21px;
        box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
        left: -2px;
        top: -4px;
        -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
        transition: left .3s ease, background .3s ease, box-shadow .1s ease;
    }
    
    .custom-checkbox .custom-control-input:checked~.custom-control-indicator {
        background-color: #84c7c1;
        background-image: none;
        box-shadow: none !important;
    }
    
    .custom-checkbox .custom-control-input:checked~.custom-control-indicator:after {
        background-color: #84c7c1;
        left: 15px;
    }
    
    .custom-checkbox .custom-control-input:focus~.custom-control-indicator {
        box-shadow: none !important;
    }
    
    .image {
        width: 120px;
        border-radius: 5%;
    }
    
    .filters {
        margin: 40px 0 0 0;
        padding-left: 15%;
    }
    
    .filter:not(:nth-last-child(1)) {
        margin: 0 0 20px 30px;
    }
    /* Large Devices, Wide Screens */
    
    .filters tr {
        width: 50px;
    }
    
    @media only screen and (max-width: 1240px) {
        .filters {
            padding-left: 0;
        }
        .filter:first-child {
            margin-left: 30px;
        }
    }
    
    @media only screen and (max-width: 1060px) {
        table.tableOrders td:nth-last-child(2) {
            display: none;
        }
        table.tableOrders th:nth-last-child(2) {
            display: none;
        }
        .btn.btn-danger.btnShowNext {
            font-size: 10px;
        }
    }
    /* Small Devices, Tablets */
    
    @media only screen and (max-width: 768px) {
        table.tableOrders td:nth-last-child(3) {
            display: none;
        }
        table.tableOrders th:nth-last-child(3) {
            display: none;
        }
        .btn.btn-danger.btnShowNext {
            font-size: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .btn.btn-danger.btnShowNext {
            width: 35%;
        }
        .main-content,
        .container-fluid {
            padding: 0px !important;
        }
    }
    /* Extra Small Devices, Phones */
    
    @media only screen and (max-width: 615px) {
        table.tableOrders td:nth-last-child(4) {
            display: none;
        }
        table.tableOrders th:nth-last-child(4) {
            display: none;
        }
        .btn.btn-danger.btnShowNext {
            width: 35%;
        }
        .filter:nth-last-child(1) {
            margin-left: 30px;
        }
    }
    
    @media only screen and (max-width: 500px) {
        table.tableOrders td:nth-last-child(5) {
            display: none;
        }
        table.tableOrders th:nth-last-child(5) {
            display: none;
        }
        .btn.btn-danger.btnShowNext {
            width: 40%;
        }
    }
    
    @media only screen and (max-width: 425px) {
        table.tableOrders th:nth-child(2) p,
        table.tableOrders th:nth-child(3) p {
            white-space: nowrap;
            overflow: hidden;
            width: 25px;
        }
        .btn.btn-danger.btnShowNext {
            width: 40%;
        }
        .btnShowNext span {
            display: none;
        }
        .ShowPrev:after {
            content: 'Предыдущие';
        }
        .ShowNext:after {
            content: 'Следующие';
        }
    }
    
    @media only screen and (max-width: 370px) {}
    
    @media only screen and (max-width: 355px) {
        table.tableOrders td:nth-last-child(1) button {
            padding: 5px 0;
            font-size: 10px;
            height: 30px;
        }
        table.tableOrders th:nth-child(1) {
            width: 40px;
        }
        table.tableOrders th:nth-child(1) {
            width: 30px;
        }
        .btn.btn-danger.btnShowNext {
            width: 40%;
        }
    }
    
    .received {
        background-color: #A4FFB1;
    }
    
    .ready {
        background-color: #6767FF;
    }
    
    .approved {
        background-color: #FFA6D0;
    }