<div class="main-content">
    <div class="container-fluid">
        <div class="col-lg-2">
            <h2>Заказы</h2>
        </div>
        <div class="flex filters col-lg-10">
            <div class="filter flex">
                <span>Количество записей:</span>
                <input [(ngModel)]="filterModel.pageSize" max="50" min="5" type="number" class="numerick">
            </div>
            <div class="filter flex">
                <button class="btn btn-xs  btn-danger pull-right btnApply" (click)="loadOrders()">Применить </button>
            </div>
        </div>


        <div class="card mb-12">
            <div class="card-block p-0">
                <table class="tableOrders table table-bordered table-sm m-0" id="myTable2">
                    <thead class="">
                        <tr>
                            <!-- <i class="material-icons">swap_vert</i> -->
                            <th (click)="sortOrders('id')">№</th>
                            <th (click)="sortOrders('customerId')">
                                <p>Заказчик </p>
                            </th>
                            <th (click)="sortOrders('items.length')">
                                <p class="thCount"><span>Товары </span> <span class="shift"></span> </p>
                            </th>
                            <th (click)="sortOrders('orderIssuedTime')">
                                <p>Время выдачи</p>
                            </th>
                            <th (click)="sortOrders('orderReadyTime')">
                                <p>Время готовности</p>
                            </th>
                            <th (click)="sortOrders('orderAcceptTime')">
                                <p>Время подтверждения</p>
                            </th>
                            <th (click)="sortOrders('orderRegisterTime')">
                                <p>Время получения заказа</p>
                            </th>
                            <th (click)="sortOrders('orderState')">
                                <p class="thStatus"><span>Статус </span><span class="shift">заказа</span></p>
                            </th>
                            <!-- <i class="material-icons">reorder</i>  -->
                        </tr>
                    </thead>
                    <tbody *ngFor="let order of orders">
                        <tr [class.accepted]="order.orderState === 1" [class.discard]="order.orderState === 2" [class.ready]="order.orderState === 3" [class.given]="order.orderState === 4" [class.danger]="order.orderState === 5" [class.received]="order.orderState === 0">
                            <td>{{order.id}}</td>
                            <td data-toggle="collapse" data-target="#" [attr.data-target]="'#customerInfo' + order.id"><button class="btn btnCustomer"><span><i class="material-icons">assignment_ind</i> Клиент<i class="material-icons">expand_more</i></span></button></td>
                            <td data-toggle="collapse" data-target="#" [attr.data-target]="'#itemsInfo' + order.id"><button class="btn btnCount"><span>Показать {{order.items.length}} <i class="material-icons">expand_more</i></span> </button></td>
                            <td>{{order.orderIssuedTime | date: 'HH:mm:ss'}}</td>
                            <td>
                                <div [hidden]="order.orderState === 0">{{order.orderReadyTime | date: 'HH:mm:ss'}}</div>
                                <div [hidden]="order.orderState !== 0">
                                    <input type="number" [(ngModel)]="order.orderReadyTime" class="numerick" min="0" name="waitMinutes">
                                    <i class="material-icons tool"  data-toggle="tooltip" data-placement="right" title="Примерное время ожидания заказа в минутах">&#xE88E;</i>
                                </div>
                            </td>
                            <td>{{order.orderAcceptTime | date: 'HH:mm:ss'}}</td>
                            <td>{{order.orderRegisterTime | date: 'HH:mm:ss'}}</td>
                            <td>
                                <!-- {{order.orderState}} -->
                                <div class="dropdown">
                                    <button [disabled]="order.orderState === 4" class="btn btn dropdown-toggle btnStatus" type="button" data-toggle="dropdown"> {{statuses[order.orderState].statusRU}}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li [hidden]="order.orderState === 3 || order.orderState === 1" (click)="changeStatus(order.id, 1, order.orderReadyTime)">
                                            <a>Подтвердить</a>
                                        </li>
                                        <li [hidden]="order.orderState === 2" (click)="changeStatus(order.id, 2)">
                                            <a>Отклонить</a>
                                        </li>
                                        <li [hidden]="order.orderState === 2 || order.orderState === 3" (click)="changeStatus(order.id, 3)">
                                            <a>Готов</a>
                                        </li>
                                        <li [hidden]="order.orderState === 2" (click)="changeStatus(order.id, 4)">
                                            <a>Забрали</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr [attr.id]="'itemsInfo' + order.id" class="row collapse">
                            <td colspan="8">
                                <h3 class="text-left font-weight-bold">Список товаров</h3>

                                <div class="media" *ngFor="let item of order.items">
                                    <a class="pull-left">
                                        <img class="media-object image" width="100px" [src]="item.shopItem.picture.path" alt="...">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading text-left">{{item.shopItem.name}}</h4>
                                        <p class="text-left font-weight-light">{{item.shopItem.description}}</p>
                                        <p>{{item.size.name}}</p>
                                        <p class="text-left">{{item.size.measureValue}} {{item.size.measure}} * {{item.count}} штук = {{item.size.measureValue*item.count}} {{item.size.measure}}</p>
                                        <p class="text-left">{{item.size.price}} р * {{item.count}} штук = {{item.totalPrice}} р</p>
                                    </div>
                                </div>
                                <hr> Сумма заказа:
                                <span class="text-danger">{{order.totalPrice}} р</span>
                            </td>
                        </tr>
                        <tr [attr.id]="'customerInfo' + order.id" class="row collapse">
                            <td colspan="8">
                                <h3>
                                    <p class="text-left"><i class="material-icons ">&#xE547;</i> Покупатель:</p>
                                </h3>
                                <p class="customer text-left"><i class="material-icons">sentiment_satisfied</i>{{order.customer.firstName}} {{order.customer.lastName}}</p>
                                <a class="phone text-left" [href]="'tel:' + order.customer.phoneNumber"><i class="material-icons"></i>+{{order.customer.phoneNumber}}</a><br>
                                <a class="phone text-left" [href]="'t.me/' + order.customer.Username"><i class="material-icons"></i>{{order.customer.Username}}</a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="card-footer p-0">
                <button type="button" class="btn btn-danger btnShowNext ShowPrev" (click)="getPastOrders()"><span> Следующие заказы</span></button>
                <button type="button" class="btn btn-danger btnShowNext ShowNext" (click)="getNextOrders()"><span>Предыдущие заказы</span></button>
            </div>
        </div>
    </div>
</div>
