<div class="main-content">
    <div class="container-fluid">
        <h2>Contextual Classes</h2>
        <p>Contextual classes can be used to color table rows or table cells. The classes that can be used are: .active, .success,
            .info, .warning, and .danger.</p>

        <div class="card">
            <div class="card-header">Заказы</div>
            <div class="card-block">
                <table class="table table-bordered" id="myTable2">
                    <thead class="">
                        <tr>
                            <!-- <th>s</th> -->
                            <th (click)="sortTable(0)">№</th>
                            <th (click)="sortTable(1)">Заказчик</th>
                            <th (click)="sortTable(2)">Количество элементов</th>
                            <th (click)="sortTable(3)">Время подтверждения</th>
                            <th (click)="sortTable(4)">Время выдачи</th>
                            <th (click)="sortTable(5)">Время готовности</th>
                            <th (click)="sortTable(6)">Время получения заказа</th>
                            <th (click)="sortTable(7)">Статус заказа</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of orders">
                            <!-- <td>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td> -->
                            <td>{{order.id}}</td>
                            <td>{{order.customerId}}</td>
                            <td>{{order.items.length}}</td>
                            <td>{{order.orderAcceptTime | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td>{{order.orderIssuedTime | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td>{{order.orderReadyTime | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td>{{order.orderRegisterTime | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{order.orderState}}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-header">Dropdown header 1</li>
                                        <li>
                                            <a href="#">Зарегистрирован</a>
                                        </li>
                                        <li>
                                            <a href="#">Зарегистрирован</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>s</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer p-0">
                <nav aria-label="...">
                    <ul class="pagination justify-content-end mt-3 mr-3">
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item active">
                            <span class="page-link">2
                                <span class="sr-only">(current)</span>
                            </span>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
