    th:hover {
        cursor: pointer;
    }

    html {
        font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .table {
        border: none;
    }

    button {
        position: relative;
        margin: 2% 2% 2% 0;
        width: 90%;
        height: 100%;
    }

    .btn.btn-danger.btnShowNext {
        position: relative;
        padding: 0;
        margin: 0%;
        width: 20%;
        height: 35px;
    }

    .btnStatus,
    .btnCount,
    .btnCustomer {
        background-color: #f44336;
    }

    .btnCount:active,
    .btnCustomer:active {
        background-color: #cf3b31;
    }

    .open>.btnStatus.dropdown-toggle {
        background-color: #cf3b31;
    }

    .btn.btn-danger.btnShowNext:nth-child(2) {
        float: right;
    }

    td,
    th {
        text-align: center;
    }

    .table-definition thead th:first-child {
        pointer-events: none;
        background: white;
        border: none;
    }

    .table td {
        vertical-align: middle;
    }
    /* .table td:nth-last-child(1) {
    position: relative;
    padding: 10px;
} */

    .card-header {
        background-color: #f44336;
        color: #ffffff;
    }

    .page-item>* {
        border: none;
    }

    .custom-checkbox {
        min-height: 1rem;
        padding-left: 0;
        margin-right: 0;
        cursor: pointer;
    }

    .flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .numerick {
        margin: -4px 0px 0px 10px;
        width: 70px;
        height: 30px;
        background-color: #fff;
        border: 1px solid #4c5765;
        border-radius: 5px;
        padding-left: 5px;
    }

    .checkbox {
        margin: -2px 0 0 15px;
    }

    .custom-checkbox .custom-control-indicator {
        content: "";
        display: inline-block;
        position: relative;
        width: 30px;
        height: 10px;
        background-color: #818181;
        border-radius: 15px;
        -webkit-transition: background .3s ease;
        transition: background .3s ease;
        vertical-align: middle;
        margin: 0 16px;
        box-shadow: none;
    }

    .custom-checkbox .custom-control-indicator:after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 18px;
        height: 18px;
        background-color: #f1f1f1;
        border-radius: 21px;
        box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
        left: -2px;
        top: -4px;
        -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
        transition: left .3s ease, background .3s ease, box-shadow .1s ease;
    }

    .custom-checkbox .custom-control-input:checked~.custom-control-indicator {
        background-color: #84c7c1;
        background-image: none;
        box-shadow: none !important;
    }

    .custom-checkbox .custom-control-input:checked~.custom-control-indicator:after {
        background-color: #84c7c1;
        left: 15px;
    }

    .custom-checkbox .custom-control-input:focus~.custom-control-indicator {
        box-shadow: none !important;
    }

    .image {
        width: 120px;
        border-radius: 5%;
    }

    .filters {
        margin: 40px 0 0 0;
        padding-left: 15%;
    }

    .filter:not(:nth-last-child(1)) {
        margin: 0 0 20px 30px;
    }
    /* Large Devices, Wide Screens */

    .filters tr {
        width: 50px;
    }

    .dropdown-menu li:hover {
        cursor: pointer;
    }

    .dropdown-menu li a:hover {
        background-color: #52973c;
    }

    @media only screen and (max-width: 1240px) {
        .filters {
            padding-left: 0;
        }
        .filter:first-child {
            margin-left: 30px;
        }
        table.tableOrders td:nth-last-child(2),
        table.tableOrders th:nth-last-child(2) {
            display: none;
        }
        .shift {
            display: block;
        }
    }

    @media only screen and (max-width: 1106px) {
        .btn.btn-danger.btnShowNext {
            font-size: 10px;
        }
        table.tableOrders td:nth-last-child(3),
        table.tableOrders th:nth-last-child(3) {
            display: none;
        }
    }

    @media only screen and (max-width: 1060px) {
        .btn.btn-danger.btnShowNext {
            font-size: 10px;
        }
    }

    @media only screen and (max-width: 855px) {}
    /* Small Devices, Tablets */

    @media only screen and (max-width: 768px) {
        .btn.btn-danger.btnShowNext {
            font-size: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .btn.btn-danger.btnShowNext {
            width: 35%;
        }
        .main-content,
        .container-fluid {
            padding: 0px !important;
        }
    }

    @media only screen and (max-width: 668px) {
        table.tableOrders td:nth-last-child(4),
        table.tableOrders th:nth-last-child(4) {
            display: none;
        }
    }
    /* Extra Small Devices, Phones */

    @media only screen and (max-width: 615px) {
        .btn.btn-danger.btnShowNext {
            width: 35%;
        }
        .filter:nth-last-child(1) {
            margin-left: 30px;
        }
    }

    @media only screen and (max-width: 500px) {
        table.tableOrders td:nth-last-child(5) {
            display: none;
        }
        table.tableOrders th:nth-last-child(5) {
            display: none;
        }
        .btn.btn-danger.btnShowNext {
            width: 40%;
        }
    }

    @media only screen and (max-width: 425px) {
        table.tableOrders th:nth-child(3) {
            width: 25px;
        }
        .btn.btn-danger.btnShowNext {
            width: 40%;
        }
        .thCount span,
        .thStatus span {
            display: none;
        }
        .thCount:after {
            content: "Кол-во";
        }
        .thStatus:after {
            content: "Статус";
        }
        .ShowPrev span,
        .ShowNext span {
            display: none;
        }
        .ShowPrev:after {
            content: 'Предыдущие';
        }
        .ShowNext:after {
            content: 'Следующие';
        }
        table.tableOrders td:nth-last-child(1) button,
        table.tableOrders td:nth-child(3) button,
        table.tableOrders td:nth-child(2) button {
            padding: 5px 0;
            font-size: 10px;
            height: 30px;
        }
        table.tableOrders td:nth-last-child(1),
        table.tableOrders td:nth-child(3),
        table.tableOrders td:nth-child(2) {
            padding: 0;
        }
        table.tableOrders td:nth-child(3) button {
            padding: 0 10px 0 10px;
        }
        table.tableOrders td:nth-child(3) button span {
            margin-left: 4px;
        }
        table.tableOrders th:nth-child(1) {
            width: 40px;
        }
        table.tableOrders th:nth-child(1) {
            width: 30px;
        }
        .btn.btn-danger.btnShowNext {
            width: 40%;
        }
    }

    @media only screen and (max-width: 370px) {}

    @media only screen and (max-width: 355px) {}

    .ready {
        background-color: #cdffd8;
    }

    .accepted {
        background-color: #bbdcfc;
    }

    .discard {
        background-color: #ffeef0;
        /* ; */
    }

    .given {
        background-color: #b8b8b8;
    }
