<div class="main-content">
    <div class="container-fluid">
        <br><br>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Контакты</h4>
                        <p class="category">Вы можете отправить сообщение об ошибке или предложение по улучшению или просто позвоните +375 29 806 18 23</p>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div *ngIf="validationError.email.status" class="alert alert-warning">
                                <!-- <div>{{validationError.email.message}}</div> -->
                                <div>
                                    <p>Неверно введен email. Проверьте правильность введенных данных</p>
                                </div>
                            </div>
                            <div *ngIf="validationError.password.status" class="alert alert-warning">
                                <!-- <div>{{validationError.password.message}}</div> -->
                                <div>{{validationError.password.message}}</div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Email</label>
                                    <input class="form-control" type="email" [(ngModel)]="model.Email" (input)="validateLogin()" autofocus />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Тема</label>
                                    <input class="form-control" type="text" [(ngModel)]="model.Subject" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Описание</label>
                                    <textarea class="form-control" cols="30" rows="10" [(ngModel)]="model.Body"></textarea>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-danger pull-right" (click)="addItem()">Отправить</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
