<div class="main-content">
    <div class="container-fluid">
        <br><br>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Конаткты</h4>
                        <p class="category">Вы можете отправить сообщение об ошибке или предложение по улучшению</p>
                    </div>
                    <div class="card-content">
                        <form action="index.html">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Тема</label>
                                        <input class="form-control" type="text" autofocus />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Описание</label>
                                        <textarea class="form-control" cols="30" rows="10"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <button type="submit" class="btn btn-danger pull-right">ОТправить</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>