<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <h3 class="cursor-pointer" data-toggle="collapse" data-target="#" data-target="#slide">1 Добавление</h3>
            <div id="slide" class="collapse">
                <img src="http://localhost:4200/assets/img/mask.png" alt="картинка" width="100px">
                <img src="" alt="">
                <h4 class="cursor-pointer" data-toggle="collapse" data-target="#" data-target="#slide1">1.1 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro consectetur, sint, aperiam totam doloremque voluptate unde necessitatibus magnam doloribus ducimus explicabo ab consequatur esse voluptas temporibus! Quia in dolore exercitationem.</h4>
                <div id="slide1" class="collapse">
                    description
                </div>
            </div>
        </div>
    </div>
</div>