<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <h3 class="cursor-pointer" data-toggle="collapse" data-target="#" data-target="#slide">Наполнение каталога</h3>
            <div id="slide" class="collapse">
                <img src="https://www.screencast.com/t/h8UguWzyAT" alt="картинка">
                <img src="" alt="">
                Все товары, которые клиент может видеть у себя в чат-боте, заполняются Вами в разделе <a>"Товары"</a>
                Для наполнения каталога товаров, Вам следует
                <h4 class="cursor-pointer" data-toggle="collapse" data-target="#" data-target="#slide1">1.1 ionem.</h4>
                <div id="slide1" class="collapse">
                    descriptions
                </div>
            </div>
        </div>
    </div>
</div>
