<div class="panel panel-default">
    <div class="panel-body">
        <!-- Start: Добавление нового вида товара -->
        <form action="index.html">
            <h4>Добавление новой категории</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-black label-floating is-empty">
                        <label class="control-label">Название</label>
                        <input type="text" class="form-control" [(ngModel)]="addCategoryModel.CategoryName" name="name" autofocus>
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-success pull-right" (click)="addCategory()">Добавить</button>
            </div>
            <div class="clearfix"></div>
            <!-- <app-add-item></app-add-item> -->
        </form>
        <!-- End: Добавление нового вида товара -->
    </div>
</div>