<div class="container-fluid">
    <div class="col-lg-12">
        <h2>Диспетчер</h2>
    </div>

    <!-- ////////////////////////////// -->

    <!-- Start: Список категорий -->
    <div *ngFor="let item of items">
        <div class="col-lg-2">
            <div class="card">
                <img src="../../../assets/img/meal.png" alt="Avatar">
                <div>
                    <h4 class="text-center"><b>{{item.categoryName}}</b></h4>
                </div>
            </div>
        </div>
        <!-- <div class="list-group">
            <button class="list-group-item active" data-toggle="collapse" data-target="#" [attr.data-target]="'#category' + item.id">
            <h4 class="list-group-item-heading">{{item.categoryName}}</h4>
        </button>
        </div> -->
    </div>
    <!-- End: Список категорий -->
    <!-- ///////////////////////////// -->
</div>